<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="card">
        <div class="card-header text-xs-center" id="identify-card"><b>Identify</b></div>
          <div id="tablePanelBody" class="card-block">
            <table class="table">
              <thead>
                <tr>
                  <th>Metric Name</th>
                  <th>Maturity Level</th>
                  <th>Target Maturity Level</th>
                  <th>First Entry</th>
                  <th>Recent Entry</th>
                  <th># Entries</th>
                </tr>
              </thead>

              <tbody>
                <% @identify_metrics.each do |metric| %>
                  <tr>
                    <td><%= link_to metric.name, metric %></td>
                    <td><%= metric.recent_maturity_level %></td>
                    <td><%= metric.target_maturity_level %></td>
                    <td><%= metric.first_entry.strftime("%m/%d/%Y") %></td>
                    <td><%= metric.recent_entry.strftime("%m/%d/%Y") %></td>
                    <td><%= metric.num_entries %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="card">
        <div class="card-header text-xs-center" id="protect-card"><b>Protect</b></div>
          <div id="tablePanelBody" class="card-block">
            <table class="table">
              <thead>
                <tr>
                  <th>Metric Name</th>
                  <th>Maturity Level</th>
                  <th>Target Maturity Level</th>
                  <th>First Entry</th>
                  <th>Recent Entry</th>
                  <th># Entries</th>
                </tr>
              </thead>

              <tbody>
                <% @protect_metrics.each do |metric| %>
                  <tr>
                    <td><%= link_to metric.name, metric %></td>
                    <td><%= metric.recent_maturity_level %></td>
                    <td><%= metric.target_maturity_level %></td>
                    <td><%= metric.first_entry.strftime("%m/%d/%Y") %></td>
                    <td><%= metric.recent_entry.strftime("%m/%d/%Y") %></td>
                    <td><%= metric.num_entries %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-12">
      <div class="card">
        <div class="card-header text-xs-center" id="detect-card"><b>Detect</b></div>
          <div id="tablePanelBody" class="card-block">
            <table class="table">
              <thead>
                <tr>
                  <th>Metric Name</th>
                  <th>Maturity Level</th>
                  <th>Target Maturity Level</th>
                  <th>First Entry</th>
                  <th>Recent Entry</th>
                  <th># Entries</th>
                </tr>
              </thead>

              <tbody>
                <% @detect_metrics.each do |metric| %>
                  <tr>
                    <td><%= link_to metric.name, metric %></td>
                    <td><%= metric.recent_maturity_level %></td>
                    <td><%= metric.target_maturity_level %></td>
                    <td><%= metric.first_entry.strftime("%m/%d/%Y") %></td>
                    <td><%= metric.recent_entry.strftime("%m/%d/%Y") %></td>
                    <td><%= metric.num_entries %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="card">
        <div class="card-header text-xs-center" id="respond-card"><b>Respond</b></div>
          <div id="tablePanelBody" class="card-block">
            <table class="table">
              <thead>
                <tr>
                  <th>Metric Name</th>
                  <th>Maturity Level</th>
                  <th>Target Maturity Level</th>
                  <th>First Entry</th>
                  <th>Recent Entry</th>
                  <th># Entries</th>
                </tr>
              </thead>

              <tbody>
                <% @respond_metrics.each do |metric| %>
                  <tr>
                    <td><%= link_to metric.name, metric %></td>
                    <td><%= metric.recent_maturity_level %></td>
                    <td><%= metric.target_maturity_level %></td>
                    <td><%= metric.first_entry.strftime("%m/%d/%Y") %></td>
                    <td><%= metric.recent_entry.strftime("%m/%d/%Y") %></td>
                    <td><%= metric.num_entries %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="card">
        <div class="card-header text-xs-center" id="recover-card"><b>Recover</b></div>
          <div id="tablePanelBody" class="card-block">
            <table class="table">
              <thead>
                <tr>
                  <th>Metric Name</th>
                  <th>Maturity Level</th>
                  <th>Target Maturity Level</th>
                  <th>First Entry</th>
                  <th>Recent Entry</th>
                  <th># Entries</th>
                </tr>
              </thead>

              <tbody>
                <% @recover_metrics.each do |metric| %>
                  <tr>
                    <td><%= link_to metric.name, metric %></td>
                    <td><%= metric.recent_maturity_level %></td>
                    <td><%= metric.target_maturity_level %></td>
                    <td><%= metric.first_entry.strftime("%m/%d/%Y") %></td>
                    <td><%= metric.recent_entry.strftime("%m/%d/%Y") %></td>
                    <td><%= metric.num_entries %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
      </div>
    </div>
  </div>      
</div>



