<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <div class="card">
        <h5 class="card-header text-sm-center">Abt Cybersecurity Health Score</h5>
        <div class="card-block text-sm-center">
          <h1 class="card-text"><%= @score %></h1>
        </div>
          <ul class="list-group list-group-flush">
          <li class="list-group-item">Tier 1: Partial</li>
          <li class="list-group-item">Tier 2: Risk Informed</li>
          <li class="list-group-item">Tier 3: Repeatable</li>
          <li class="list-group-item">Tier 4: Adaptive</li>          
        </ul>    
      </div>
    </div>
    <div class="col-sm-9">
      <div class="card">
        <h5 class="card-header text-sm-center">Current Score by Quarter</h5>
        <div class="card-block text-sm-center">
          <div id="test" >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2 offset-sm-1">
      <div class="card">
        <h5 class="card-header text-sm-center">Identify</h5>      
        <div class="card-block text-sm-center">
          <h5 class="card-text"><%= @identify.avg_maturity_level %></h4>
          <h6 class="card-text">Insert Card Graph</h6>
            <a href="#" class="btn btn-primary">See All</a>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="card">
        <h5 class="card-header text-sm-center">Protect</h5>      
        <div class="card-block text-sm-center">
          <h5 class="card-text"><%= @protect.avg_maturity_level %></h4>
          <h6 class="card-text">Insert Card Graph</h6> 
            <a href="#" class="btn btn-primary">See All</a>                 
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="card">
        <h5 class="card-header text-sm-center">Detect</h5>      
        <div class="card-block text-sm-center">
          <h5 class="card-text"><%= @detect.avg_maturity_level %></h4>
          <h6 class="card-text">Insert Card Graph</h6> 
            <a href="#" class="btn btn-primary">See All</a>                 
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="card">
        <h5 class="card-header text-sm-center">Respond</h5>      
        <div class="card-block text-sm-center">
          <h5 class="card-text"><%= @respond.avg_maturity_level %></h4>
          <h6 class="card-text">Insert Card Graph</h6>
            <a href="#" class="btn btn-primary">See All</a>          
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="card">
        <h5 class="card-header text-sm-center">Recover</h5>      
        <div class="card-block text-sm-center">
          <h5 class="card-text"><%= @recover.avg_maturity_level %></h4>
          <h6 class="card-text">Insert Card Graph</h6>  
            <a href="#" class="btn btn-primary">See All</a>      
        </div>
      </div>
    </div>                
  </div>  
</div>



<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Function Name</th>
        <th>Average Maturity Level</th>
        <th>Num Metrics</th>
      </tr>
    </thead>

    <tbody>
      <% @csf_functions.each do |csf_function| %>
        <tr>
          <td><%= link_to csf_function.name, csf_function %></td>
          <td><%= csf_function.avg_maturity_level %></td>
          <td><%= csf_function.num_metrics %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div id="test"></div>

<br>

<h1>Top 3 Recent Metric Values</h1>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Metric Value Id</th>
        <th>Value </th>
      </tr>
    </thead>

    <tbody>
      <% @recent_metrics.each do |m| %>
        <tr>
          <td><%= m.id %></td>
          <td><%= m.value %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<script>
  $(function () {
      $('#test').highcharts({
          chart: {
            height: 240
          },  
          title: {
              text: '',
              x: -20 //center
          },
          subtitle: {
              text: '',
              x: -20
          },
          xAxis: {
              categories: ['Jan', 'Feb', 'Mar']
          },
          yAxis: {
              min: 0,
              max: 4,
              tickInterval: 1,
              title: {
                  text: 'Health Score'
              },
              plotLines: [{
                  value: 0,
                  width: 1,
                  color: '#808080'
              }]
          },
          tooltip: {
              valueSuffix: '°C'
          },
          legend: {
              layout: 'vertical',
              align: 'right',
              verticalAlign: 'middle',
              borderWidth: 0
          },
          series: [{
              name: 'Actual',
              data: [1.8, 2.8, 2.7]
          }, {
              name: 'Target',
              data: [2.1, 2.9, 3.4]
          }],
          credits: {
            enabled: false
          }
      });
  });
</script>


