<p id="notice"><%= notice %></p>

<h1>CSF Functions</h1>

<p>
  <strong>Score:</strong>
  <%= @score %>
</p>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Function Name</th>
        <th>Average Maturity Level</th>
        <th>Num Metrics</th>
      </tr>
    </thead>

    <tbody>
      <% @csf_functions.each do |csf_function| %>
        <tr>
          <td><%= link_to csf_function.name, csf_function %></td>
          <td><%= csf_function.avg_maturity_level %></td>
          <td><%= csf_function.num_metrics %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div id="container"></div>

<br>

<h1>Top 3 Recent Metric Values</h1>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Metric Value Id</th>
        <th>Value </th>
      </tr>
    </thead>

    <tbody>
      <% @recent_metrics.each do |m| %>
        <tr>
          <td><%= m.id %></td>
          <td><%= m.value %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<script>
    $(function () {

        $('#container').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'

            },
            title: {
                text: ''
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b> <br><b>${point.y}</b>'
            },
            plotOptions: {
                pie: {
                    size: 300,
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                        style: {
                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                        }
                    }
                }
            },
            series: [{
                name: '',
                colorByPoint: true,
                data: [<% @recent_metrics.each do |m| %>
                    {name: '<%= m.id %>' , y: <%= m.value.to_i %>},
                    <% end %>

                ]
            }]
        });
    });
</script>



