<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="card">
        <h5 class="card-header text-xs-center" id="identify-card">Identify</h5>
          <div class="card-block">
            <table class="table">
              <thead>
                <tr>
                  <th>Metric Name</th>
                  <th>Maturity Level</th>
                  <th>Target Maturity Level</th>
                  <th>First Entry</th>
                  <th>Recent Entry</th>
                  <th>Num Entries</th>
                </tr>
              </thead>

              <tbody>
                <% @identify_metrics.each do |metric| %>
                  <tr>
                    <td><%= link_to metric.name, metric %></td>
                    <td><%= metric.recent_maturity_level %></td>
                    <td><%= metric.target_maturity_level %></td>
                    <td><%= metric.first_entry %></td>
                    <td><%= metric.recent_entry %></td>
                    <td><%= metric.num_entries %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="card">
        <h5 class="card-header text-xs-center" id="protect-card">Protect</h5>
        <div class="card-block text-xs-center">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="card">
        <h5 class="card-header text-xs-center" id="detect-card">Detect</h5>
        <div class="card-block text-xs-center">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="card">
        <h5 class="card-header text-xs-center" id="respond-card">Respond</h5>
        <div class="card-block text-xs-center">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="card">
        <h5 class="card-header text-xs-center" id="recover-card">Recover</h5>
        <div class="card-block text-xs-center">
        </div>
      </div>
    </div>
  </div>        
</div>



