<p>
  <strong><%= @csf_function.name %></strong>
</p>

<p>
<strong>Average Maturity Level:</strong>
  <%= @csf_function.avg_maturity_level %>
</p>

<br>

<p>
<i>"<%= @csf_function.goal_question %>"</i>
</p>

<br>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Metric Name</th>
        <th>Maturity Level</th>
        <th>Target Maturity Level</th>
        <th>Recent Value</th>
        <th>New Value</th>
        <th>Active</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @metrics.each do |metric| %>
        <tr>
          <td><%= link_to metric.name, metric %></td>
          <td><%= metric.recent_maturity_level %></td>
          <td><%= metric.target_maturity_level %></td>
          <td><%= metric.recent_value %></td>
          <td id="multiform">
            <%= form_for ([metric, @metric_value]) do |m| %>
            <%= m.text_field :value %>
            <%= m.hidden_field :metric_id, :value => metric.id %>
            <%= m.hidden_field :effective_date, :value => DateTime.now %>
          </td>
          <td><%= best_in_place metric, :active, :url => metric_path(metric), :as => :checkbox %></td>
        </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

