<div class="modal fade" id="Modal-MaturityLevel" tabindex="-1" role="dialog" aria-labelledby="Modal-MaturityLevel-Label"  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title text-xs-center" id="Modal-MaturityLevel-Label"><%= @metric.name %> - Maturity Levels</h4>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead>
            <tr class="text-xs-center">
              <th class="text-xs-center">Maturity Level</th>
              <th>Low</th>
              <th>High</th>
            </tr>            
          </thead>
          <tbody>
            <tr class="text-xs-center">
              <td class="text-xs-center">0</td>
              <td>0</td>
              <td><%= best_in_place @metric, :ml_1, :url => metric_path(@metric) %></td>
            <tr class="text-xs-center">
              <td class="text-xs-center">1</td>
              <td><%= @metric.ml_1 + 1 %></td>
              <td><%= best_in_place @metric, :ml_2, :url => metric_path(@metric)  %></td>
            </tr>
            <tr class="text-xs-center">
              <td class="text-xs-center">2</td>
              <td><%= @metric.ml_2 + 1 %></td>
              <td><%= best_in_place @metric, :ml_3, :url => metric_path(@metric)  %></td>
            </tr>
            <tr class="text-xs-center">
              <td class="text-xs-center">3</td>
              <td><%= @metric.ml_3 + 1 %></td>
              <td><%= best_in_place @metric, :ml_4, :url => metric_path(@metric)  %></td>
            </tr> 
            <tr class="text-xs-center">
              <td class="text-xs-center">4</td>
              <td><%= @metric.ml_4 + 1 %></td>
              <td>  >  </td>
            <tr>                                              
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>    
</div>  