<h1>All Metrics</h1>

<h3>Download:</h3>
<%= link_to "CSV", metrics_path(format: "csv") %> |
<%= link_to "Excel", metrics_xlsx_path(format: :xlsx) %>


  <table id="metrics" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Metric Name</th>
        <th>Maturity Level</th>
        <th>Target Maturity Level</th>
        <th>First Entry</th>
        <th>Recent Entry</th>
        <th>Num Entries</th>
        <th>Visible</th>
        <th>Calculated</th>
      </tr>
    </thead>

    <tbody>
      <% @metrics.each do |metric| %>
        <tr>
          <td><%= link_to metric.name, metric_path(metric.slug) %></td>
          <td><%= metric.recent_maturity_level %></td>
          <td><%= metric.target_maturity_level %></td>
          <td><%= metric.first_entry.strftime("%m-%d-%y") %></td>
          <td><%= metric.recent_entry.strftime("%m-%d-%y") %></td>
          <td><%= metric.num_entries %></td>
          <td><%= best_in_place metric, :visible, :url => metric_path(metric), :as => :checkbox %></td>
          <td><%= best_in_place metric, :calculated, :url => metric_path(metric), :as => :checkbox %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
