<p id="notice"><%= notice %></p>

<h1>All Metrics</h1>

<table>
  <thead>
    <tr>
      <th>Metric Name</th>
      <th>Organization</th>
      <th>CSF Function</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @metrics.each do |metric| %>
      <tr>
        <td><%= link_to metric.name, metric %></td>
        <td><%= link_to metric.organization_name, organization_path(metric.organization_id) %></td>
        <td><%= metric.csf_function_name %></td>
        <td><%= link_to 'Destroy', metric, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>



<%= link_to 'New Metric', new_metric_path %>
