<h1>All Metrics</h1>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Metric Name</th>
        <th>Maturity Level</th>
        <th>Target Maturity Level</th>
        <th>First Entry</th>
        <th>Recent Entry</th>
        <th>Num Entries</th>
      </tr>
    </thead>

    <tbody>
      <% @metrics.each do |metric| %>
        <tr>
          <td><%= link_to metric.name, metric %></td>
          <td><%= metric.recent_maturity_level %></td>
          <td><%= metric.target_maturity_level %></td>
          <td><%= metric.first_entry %></td>
          <td><%= metric.recent_entry %></td>
          <td><%= metric.num_entries %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>



<%= link_to 'New Metric', new_metric_path %>
