<script>
$(document).ready(function() {
    $('#metrics').DataTable( {
        "pagingType": "full_numbers"
    } );
} );
</script>

<h1>All Metrics</h1>

<h3>Download:</h3>
<%= link_to "CSV", metrics_path(format: "csv") %> |
<%= link_to "Excel", metrics_xlsx_path(format: :xlsx) %>


  <table id="metrics" class="display" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Metric Name</th>
        <th>CSF Function</th>
        <th>Maturity Level</th>
        <th>Target Maturity Level</th>
        <th>First Entry</th>
        <th>Recent Entry</th>
        <th>Num Entries</th>
        <th>Active</th>
      </tr>
    </thead>

    <tbody>
      <% @metrics.each do |metric| %>
        <tr>
          <td><%= link_to metric.name, metric_path(metric.slug) %></td>
          <td><%= link_to metric.csf_function_name, csf_function_path(metric.csf_function_slug) %></td>
          <td><%= metric.recent_maturity_level %></td>
          <td><%= metric.target_maturity_level %></td>
          <td><%= metric.first_entry.strftime("%m-%d-%y") %></td>
          <td><%= metric.recent_entry.strftime("%m-%d-%y") %></td>
          <td><%= metric.num_entries %></td>
          <td><%= best_in_place metric, :active, :url => metric_path(metric), :as => :checkbox, collection: ["Inactive","Active"] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
