<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @metric.name %>
</p>

<p>
  <strong>Organization:</strong>
  <%= @metric.organization_name %>
</p>

<p>
  <strong>CSF Function:</strong>
  <%= @metric.csf_function_name %>
</p>

<%= link_to 'Edit', edit_metric_path(@metric) %> |
<%= link_to 'Back', metrics_path %>

<br>



<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Month</th>
        <th>Year</th>
        <th>Value</th>
        <th>Maturity Value</th>
      </tr>
    </thead>
    <tbody>
      <% @metric_values.each do |values| %>
        <tr>
          <td><%= values.month_name %></td>
          <td><%= values.year %></td>
          <td><%= values.value %></td>
          <td><%= values.maturity_value_name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>

<%= render 'values' %>
