<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @metric.name %>
</p>

<p>
  <strong>Recent Maturity Level:</strong>
  <%= @metric.recent_maturity_level %>
</p>


<p>
  <strong>CSF Function:</strong>
  <%= link_to @metric.csf_function_name, csf_function_path(@metric.csf_function_id) %>
</p>
<br/>
<%= link_to 'Edit', edit_metric_path(@metric) %> |
<%= link_to 'Back', metrics_path %>
<br/>
<br/>


<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Value</th>
        <th>Maturity Level</th>
      </tr>
    </thead>
    <tbody>
      <% @metric_values.each do |values| %>
        <tr>
          <td><%= values.effective_date %></td>
          <td><%= values.value %></td>
          <td><%= values.maturity_level %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>

<%= render 'values' %>
