<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6"> 

      <div class="card">
        <h5 class="card-header text-xs-center"><%= @metric.name %></h5>
        <div class="card-block">
          <p class="card-text">INSERT DESCRIPTION TEXT HERE</p>
          <p>
            <strong>Recent Maturity Level:</strong>
            <%= @metric.recent_maturity_level %>
          </p>
          <p>
            <strong>Target Maturity Level:</strong>
            <%= @metric.target_maturity_level %>
          </p>

          <p>
            <strong>CSF Function:</strong>
            <%= link_to @metric.csf_function_name, csf_function_path(@metric.csf_function_id) %>
          </p>
          <br/>
          <%= link_to 'Edit', edit_metric_path(@metric) %> |
          <%= link_to 'Back', metrics_path %>
          <br/>
          <br/>



        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <div id="metric-recentvalues">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 text-xs-center">
      <button type="button" class="btn btn-primary btn-lg text-xs-center" data-toggle="modal" data-target="#myModal">
          Show Maturity Levels
      </button>
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"  aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title" id="myModalLabel"><%= @metric.name %> Maturity Levels</h4>
            </div>
            <div class="modal-body">
              <table class="table">
                <thead>
                  <tr class="text-xs-center">
                    <th class="text-xs-center">Maturity Level</th>
                    <th>Low</th>
                    <th>High</th>
                  </tr>
                </thead>
                <tbody>
              <% @mat_level.each do |value| %>        
                  <td class="text-xs-center"><%= value.weighted_value %></td>
                  <td><%= value.low %></td>
                  <td><%= value.high %></td>
                </tbody>
              <% end %>
              </table>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>    
      </div>
    </div>
    <div class="col-xs-6">
      <%= render 'values' %>
    </div>
  </div>
</div>













<script>
  $(function () {
      $('#metric-recentvalues').highcharts({
          chart: {
            height: 240,
          },  
          title: {
              text: '',
              x: -20 //center
          },
          subtitle: {
              text: '',
              x: -20
          },
          xAxis: {
              categories: [
                            <% @metric_values.each do |date| %>
                              '<%= date.effective_date.strftime("%m/%d/%Y") %>',
                            <% end %>
              ]
          },
          yAxis: {
              title: {
                  text: 'Health Score'
              },
              plotLines: [{
                  value: 0,
                  width: 1,
                  color: '#808080'
              }]
          },
          tooltip: {
              valueSuffix: ''
          },
          legend: {
              layout: 'vertical',
              align: 'right',
              verticalAlign: 'middle',
              borderWidth: 0
          },
          series: [{
              name: 'Actual',
              data: [
                      <% @metric_values.each do |score| %>
                        <%= score.value %>,
                      <% end %>
              ]
          }, {
              name: 'Target',
              data: [
                      <% @metric_values.each do |score| %>
                        <%= score.value %>,
                      <% end %>
              ],
              dashStyle: 'dash'
          }],
          credits: {
            enabled: false
          }
      });
  });
</script>




