<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6"> 

      <div class="card">
        <h5 class="card-header text-xs-center"><%= best_in_place @metric, :name %></h5>
        <div class="card-block">
          <p class="card-text"><%= best_in_place @metric, :description %></p>
          <p>
            <strong>Recent Maturity Level:</strong>
            <%= @metric.recent_maturity_level %>
          </p>
          <p>
            <strong>Target Maturity Level:</strong>
            <%= @metric.target_maturity_level %>
          </p>

          <p>
            <strong>CSF Function:</strong>
            <%= link_to @metric.csf_function_name, csf_function_path(@metric.csf_function_id) %>
          </p>
          <br/>
          <%= link_to 'Edit', edit_metric_path(@metric) %> |
          <%= link_to 'Back', metrics_path %>
          <br/>
          <br/>

        </div>
      </div>
    </div>    
    <div class="col-xs-6">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#value" role="tab">Value</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#maturity-level" role="tab">Maturity Level</a>
        </li>
      </ul>  
      <div class="tab-content">
        <div class="tab-pane fade in active" id="value">
          <div id="metric-recentvalues">
          </div>
        </div>
        <div class="tab-pane fade in" id="maturity-level">
          <div id="metric-maturityvalues">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4 text-xs-center">
      <button type="button" class="btn btn-primary btn-lg text-xs-center" data-toggle="modal" data-target="#Modal-MaturityLevel">
          Maturity Levels
      </button>
      <button type="button" class="btn btn-primary btn-lg text-xs-center" data-toggle="modal" data-target="#Modal-NewValue">
          <i class="fa fa-plus" aria-hidden="true"></i>
      </button>      
    </div>
    <div class="col-xs-4">
      <table class="table">
        <thead>
          <tr class="text-xs-center">
            <th>Effective Date</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
      <% @metric_values.each do |value| %>        
          <td><%= best_in_place value, :effective_date, :url => metric_metric_value_path(@metric, value)%></td>
          <td><%= best_in_place value, :value, :url => metric_metric_value_path(@metric, value) %></td>
        </tbody>
      <% end %>
      </table>      
    </div>
    <div class="col-xs-4">
      <table class="table">
        <thead>
          <tr>
            <th class="text-xs-center">CSF Categories</th>
          </tr>
        </thead>
        <tbody>
        <% @categories.each do |category| %>
          <td class="text-xs-center"><%= link_to category.name, category %> (<%= category.abbreviation %>)</td>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>


<%= render 'modal_maturitylevel' %>    
<%= render 'modal_newvalue' %>






<script>
  $(function () {
      $('#metric-recentvalues').highcharts({
          chart: {
            height: 240,
          },  
          title: {
              text: '',
              x: -20 //center
          },
          subtitle: {
              text: '',
              x: -20
          },
          xAxis: {
              categories: [
                            <% @metric_values.each do |date| %>
                              '<%= date.effective_date.strftime("%m/%d/%Y") %>',
                            <% end %>
              ]
          },
          yAxis: {
              title: {
                  text: 'Health Score'
              },
              plotLines: [{
                  value: 0,
                  width: 1,
                  color: '#808080'
              }]
          },
          tooltip: {
              valueSuffix: ''
          },
          legend: {
              layout: 'vertical',
              align: 'right',
              verticalAlign: 'middle',
              borderWidth: 0
          },
          series: [{
              name: 'Actual',
              data: [
                      <% @metric_values.each do |score| %>
                        <%= score.value %>,
                      <% end %>
              ]
          }, {
              name: 'Target',
              data: [
                      <% @metric_values.each do |score| %>
                        <%= score.value %>,
                      <% end %>
              ],
              dashStyle: 'dash'
          }],
          credits: {
            enabled: false
          }
      });
  });
</script>

<script>
  $(function () {
      $('#metric-maturityvalues').highcharts({
          chart: {
            height: 240,
          },  
          title: {
              text: '',
              x: -20 //center
          },
          subtitle: {
              text: '',
              x: -20
          },
          xAxis: {
              categories: [
                            <% @metric_values.each do |date| %>
                              '<%= date.effective_date.strftime("%m/%d/%Y") %>',
                            <% end %>
              ]
          },
          yAxis: {
              title: {
                  text: 'Health Score'
              },
              plotLines: [{
                  value: 0,
                  width: 1,
                  color: '#808080'
              }]
          },
          tooltip: {
              valueSuffix: ''
          },
          legend: {
              layout: 'vertical',
              align: 'right',
              verticalAlign: 'middle',
              borderWidth: 0
          },
          series: [{
              name: 'Actual',
              data: [
                      <% @metric_values.each do |score| %>
                        <%= score.maturity_level %>,
                      <% end %>
              ]
          }, {
              name: 'Target',
              data: [
                      <% @metric_values.each do |score| %>
                        <%= score.maturity_level %>,
                      <% end %>
              ],
              dashStyle: 'dash'
          }],
          credits: {
            enabled: false
          }
      });
  });
</script>


