<p id="notice"><%= notice %></p>

<div>
  <%= button_to "Import New Data", import_system_center_path, :data => {:confirm => 'Are you sure you want to import new data?'} %>
</div>

<br>

<div class="container-fluid">
  <table>
    <thead>
      <tr>
        <th>Category</th>
        <th>Targeted</th>
        <th>Failed</th>
        <th>Unknown</th>
        <th>Non-Compliant</th>
        <th>Compliant</th>
        <th>Collection</th>
        <th>Compliance</th>
        <th>Baseline Revision</th>
        <th>Baseline Name</th>
      </tr>
    </thead>

    <tbody>
      <% @imports.each do |import| %>
        <tr>
          <td><%= import.category %></td>
          <td><%= number_with_delimiter(import.targeted_count, :delimiter => ',') %>
          <td><%= number_with_delimiter(import.failed_count, :delimiter => ',') %>
          <td><%= number_with_delimiter(import.unknown_count, :delimiter => ',') %>
          <td><%= number_with_delimiter(import.non_compliant_count, :delimiter => ',') %>
          <td><%= number_with_delimiter(import.compliant_count, :delimiter => ',') %>
          <td><%= import.collection_name %></td>
          <td><%= number_to_percentage(import.compliance_percentage, precision: 0)%></td>
          <td><%= import.configuration_baseline_revision %></td>
          <td><%= import.configuration_baseline_name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

